@import "variables";
@import "mixin";
/*-------------------------
          FOOTER
-------------------------*/
footer{
    ul{
        li{
            a{
                color: $white;
                &:hover {
                  color: $base-color !important;
                }
            }
        }
        .list-inline-item i{
            font-size: 1.5rem;
        }
        li.list-inline-item:not(:last-child){
            margin-right:1.5rem;
        }
    }
} 