@import "variables";
@import "mixin";
/*-------------------------
       BLOG PAGE
-------------------------*/
.page-header{
    padding: 2px 0 !important;
    box-shadow: 0 1px 3px 0 $grey-3;
    border-bottom: none;
}