@import "variables";
@import "mixin";
/*-------------------------
          BLOG
-------------------------*/
.blog{
    .blog-title ul li i{
        position: relative;
        top: 1px;
    }
    .blog-link a:hover{
        color: $base-color !important;
    }
    .blog-content{
        padding: 2rem;
    }
    .arrow-top:after, .arrow-right:after, .arrow-left:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
    }
    .arrow-left:after {
        border-width: 14px 14px 14px 0;
        border-color: transparent $white transparent transparent;
        right: 0;
        top: 46%;
    }
    .arrow-right:after{
        border-width: 14px 0 14px 14px;
        border-color: transparent transparent transparent $white;
        left: 0;
        top: 46%;
    }
    .arrow-top:after{
        bottom: 0;
        left: calc(50% - 7px);
        border-width: 0 14px 14px 14px;
        border-color: transparent transparent $white transparent;
    }
    .border-top-left-radius{
        border-top-left-radius: $rd-4;
    }
    .border-top-right-radius{
        border-top-right-radius: $rd-4;
    }
    .border-bottom-right-radius{
        border-bottom-right-radius: $rd-4;
    }
    .border-bottom-left-radius{
        border-bottom-left-radius: $rd-4;
    }
}
