@import "variables";
@import "mixin";
/*-------------------------
          HERO
-------------------------*/
.hero{
    background-image: url("http://placehold.it/1920x1280")!important;
    position: relative;
    background-size: cover;
    background-position: center center;
    &::before {
      @include bg-before;
    }
    &::after {
      @include bg-after;
    }
    .hero-center{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }
    .hero-content {
        .list-inline-item i{
            font-size: 1.2rem;
            color: $white;
        }
        p {
            max-width: 450px;
        }
        .list-inline-item:not(:last-child){
            margin-right: 1rem;
        }
        .social-icon .list-inline-item i:hover{
            color: $base-color;
        }
    }
}
