@import "variables";
@import "mixin";
/*-------------------------
       MEDIA SCREENS
-------------------------*/
@media (min-width: 992px) and (max-width: 1199px){
    .navbar-brand {
        width: 120px;
    }
}
@media (max-width: 991px) {
    body {
        padding-top: 63px;
    }
    .full-screen {
        height: auto;
    }
    .header {
        background-color: $bg-white;
        padding: 0;
        box-shadow: 0 1px 3px 0 $grey-3;

        button span {
            color: $black;
        }

        nav {
            li a {
                color: $black-2;
            }

            a.navbar-brand {
                color: $black-2;
            }
        }
    }
    .hero{
        &:after {
            clip-path: none;
        }
        .hero-center {
            transform: translateY(0);
        }
    }
    .page-hero{
        .hero-center{
            transform: translateY(-50%);
        }
    }
}
@media (max-width: 767px){
    h1{
        font-size: $font-size-h !important;
    }
    .count-item:not(:last-child){
        border: none;
    }
    #my-map{
        height: 400px;
    }
    .p-title-border{
        border-right: none;
        border-left: none;
    }
}
@media (max-width: 576px) {
    .hero-icon{
        animation: none;
    }
    .pill-button{
        font-weight: $f-w-400!important;
    }
    .comments img {
        width: 85px;
    }
    .comment-info {
        margin-left: 100px;
    }
    #message.toast {
        top: 18px;
        left: inherit;
        font-size: $f-s-12;
        padding: 3px 0;
    }
    .hero-content{
        left: 0;
        padding: 0 15px;
    }
    .about p span{
        display: block;
    }
}